openapi: 3.2.0
info:
  title: AeroFarms Store API
  version: v1
  description: Public, unauthenticated read access to the AeroFarms WooCommerce storefront through the WooCommerce Store API — the product catalog with images, attributes, stock state, category counts and facet data, plus the anonymous session cart. Verified live at 8 products in 1 storefront category on 2026-09-10. This is the commerce projection of the same catalog exposed by the Products API.
  contact:
    name: AeroFarms
    url: https://www.aerofarms.com/contact/
    email: info@aerofarms.com
  x-derived-from: https://www.aerofarms.com/wp-json/ route index + per-route HTTP OPTIONS schema documents
  x-derived-on: '2026-09-10'
  x-api-evangelist-note: Third-party profile. AeroFarms publishes no developer program; this documents the anonymously readable REST surface behind www.aerofarms.com. Every path, parameter and schema here was read from the server's own published route index and OPTIONS documents on 2026-09-10 — nothing is invented.
  x-surface-note: WooCommerce is deployed here as a catalog, not as a shop. Every product returns prices.price "0" and prices.currency_code "GBP" — the unconfigured WooCommerce default for a US company that sells through grocery retail — and the site's /shop/ page redirects to the homepage. The prices object is described because the server returns it; do not read it as a price list.
servers:
- url: https://www.aerofarms.com/wp-json
  description: AeroFarms WordPress REST API
tags:
- name: Store
  description: WooCommerce Store API — public storefront catalog and cart.
paths:
  /wc/store/v1/products:
    get:
      operationId: listStoreProducts
      summary: List storefront products
      description: Retrieve the public AeroFarms storefront catalog with prices, images, attributes and stock state. 8 products at capture.
      tags:
      - Store
      responses:
        '200':
          description: List storefront products
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StoreProduct'
          headers:
            X-WP-Total:
              description: Total number of records matching the query.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available at the current per_page.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
        '400':
          description: Invalid parameter(s) — rest_invalid_param.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such route or resource — rest_no_route / rest_*_invalid_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: after
        in: query
        schema:
          type: string
          format: date-time
        description: Limit response to resources created after a given ISO8601 compliant date.
      - name: attribute_relation
        in: query
        schema:
          type: string
          enum:
          - in
          - and
          default: and
        description: The logical relationship between attributes when filtering across multiple at once.
      - name: attributes
        in: query
        schema:
          type: array
          default: []
          items:
            type: object
            properties:
              attribute:
                description: Attribute taxonomy name.
                type: string
                sanitize_callback: wc_sanitize_taxonomy_name
              term_id:
                description: List of attribute term IDs.
                type: array
                items:
                  type: integer
                sanitize_callback: wp_parse_id_list
              slug:
                description: List of attribute slug(s). If a term ID is provided, this will be ignored.
                type: array
                items:
                  type: string
                sanitize_callback: wp_parse_slug_list
              operator:
                description: Operator to compare product attribute terms.
                type: string
                enum:
                - in
                - not_in
                - and
        description: Limit result set to products with selected global attributes.
      - name: before
        in: query
        schema:
          type: string
          format: date-time
        description: Limit response to resources created before a given ISO8601 compliant date.
      - name: brand
        in: query
        schema:
          type: string
        description: Limit result set to products assigned a set of brand IDs or slugs, separated by commas.
      - name: brand_operator
        in: query
        schema:
          type: string
          enum:
          - in
          - not_in
          - and
          default: in
        description: Operator to compare product brand terms.
      - name: catalog_visibility
        in: query
        schema:
          type: string
          enum:
          - any
          - visible
          - catalog
          - search
          - hidden
        description: Determines if hidden or visible catalog products are shown.
      - name: category
        in: query
        schema:
          type: string
        description: Limit result set to products assigned a set of category IDs or slugs, separated by commas.
      - name: category_operator
        in: query
        schema:
          type: string
          enum:
          - in
          - not_in
          - and
          default: in
        description: Operator to compare product category terms.
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: date_column
        in: query
        schema:
          type: string
          enum:
          - date
          - date_gmt
          - modified
          - modified_gmt
          default: date
        description: When limiting response using after/before, which date column to compare against.
      - name: exclude
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: featured
        in: query
        schema:
          type: boolean
        description: Limit result set to featured products.
      - name: include
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific ids.
      - name: max_price
        in: query
        schema:
          type: string
        description: Limit result set to products based on a maximum price, provided using the smallest unit of the currency.
      - name: min_price
        in: query
        schema:
          type: string
        description: Limit result set to products based on a minimum price, provided using the smallest unit of the currency.
      - name: offset
        in: query
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: on_sale
        in: query
        schema:
          type: boolean
        description: Limit result set to products on sale.
      - name: order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        schema:
          type: string
          enum:
          - date
          - modified
          - id
          - include
          - title
          - slug
          - price
          - popularity
          - rating
          - menu_order
          - comment_count
          default: date
        description: Sort collection by object attribute.
      - name: page
        in: query
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: parent
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to those of particular parent IDs.
      - name: parent_exclude
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to all items except those of a particular parent ID.
      - name: per_page
        in: query
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: rating
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
            enum:
            - 1
            - 2
            - 3
            - 4
            - 5
        description: Limit result set to products with a certain average rating.
      - name: related
        in: query
        schema:
          type: integer
        description: Limit result set to products related to a specific product ID.
      - name: search
        in: query
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: sku
        in: query
        schema:
          type: string
        description: Limit result set to products with specific SKU(s). Use commas to separate.
      - name: slug
        in: query
        schema:
          type: string
        description: Limit result set to products with specific slug(s). Use commas to separate.
      - name: stock_status
        in: query
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - instock
            - outofstock
            - onbackorder
            sanitize_callback: sanitize_text_field
            validate_callback: rest_validate_request_arg
        description: Limit result set to products with specified stock status.
      - name: tag
        in: query
        schema:
          type: string
        description: Limit result set to products assigned a set of tag IDs or slugs, separated by commas.
      - name: tag_operator
        in: query
        schema:
          type: string
          enum:
          - in
          - not_in
          - and
          default: in
        description: Operator to compare product tags.
      - name: type
        in: query
        schema:
          type: string
          enum:
          - simple
          - grouped
          - external
          - variable
          - variation
        description: Limit result set to products assigned a specific type.
  /wc/store/v1/products/{id}:
    get:
      operationId: getStoreProduct
      summary: Retrieve a storefront product
      description: Retrieve a single storefront product by its numeric identifier.
      tags:
      - Store
      responses:
        '200':
          description: Retrieve a storefront product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreProduct'
        '400':
          description: Invalid parameter(s) — rest_invalid_param.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such route or resource — rest_no_route / rest_*_invalid_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the resource.
        schema:
          type: integer
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
  /wc/store/v1/products/categories:
    get:
      operationId: listStoreProductCategories
      summary: List storefront product categories
      description: Retrieve the storefront product categories with product counts. 1 category (microgreens) at capture.
      tags:
      - Store
      responses:
        '200':
          description: List storefront product categories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StoreProductCategory'
          headers:
            X-WP-Total:
              description: Total number of records matching the query.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available at the current per_page.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
        '400':
          description: Invalid parameter(s) — rest_invalid_param.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such route or resource — rest_no_route / rest_*_invalid_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: hide_empty
        in: query
        schema:
          type: boolean
          default: true
        description: If true, empty terms will not be returned.
      - name: include
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific ids.
      - name: order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Sort ascending or descending.
      - name: orderby
        in: query
        schema:
          type: string
          enum:
          - name
          - slug
          - count
          default: name
        description: Sort by term property.
      - name: page
        in: query
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: parent
        in: query
        schema:
          type: integer
        description: Limit results to terms with a specific parent (hierarchical taxonomies only).
      - name: per_page
        in: query
        schema:
          type: integer
          minimum: 0
        description: Maximum number of items to be returned in result set. Defaults to no limit if left blank.
      - name: search
        in: query
        schema:
          type: string
        description: Limit results to those matching a string.
  /wc/store/v1/products/collection-data:
    get:
      operationId: getStoreCollectionData
      summary: Retrieve storefront collection data
      description: Retrieve aggregate facet data for the storefront catalog — price range, attribute counts, rating counts and stock status counts.
      tags:
      - Store
      responses:
        '200':
          description: Retrieve storefront collection data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreCollectionData'
        '400':
          description: Invalid parameter(s) — rest_invalid_param.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such route or resource — rest_no_route / rest_*_invalid_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: after
        in: query
        schema:
          type: string
          format: date-time
        description: Limit response to resources created after a given ISO8601 compliant date.
      - name: attribute_relation
        in: query
        schema:
          type: string
          enum:
          - in
          - and
          default: and
        description: The logical relationship between attributes when filtering across multiple at once.
      - name: attributes
        in: query
        schema:
          type: array
          default: []
          items:
            type: object
            properties:
              attribute:
                description: Attribute taxonomy name.
                type: string
                sanitize_callback: wc_sanitize_taxonomy_name
              term_id:
                description: List of attribute term IDs.
                type: array
                items:
                  type: integer
                sanitize_callback: wp_parse_id_list
              slug:
                description: List of attribute slug(s). If a term ID is provided, this will be ignored.
                type: array
                items:
                  type: string
                sanitize_callback: wp_parse_slug_list
              operator:
                description: Operator to compare product attribute terms.
                type: string
                enum:
                - in
                - not_in
                - and
        description: Limit result set to products with selected global attributes.
      - name: before
        in: query
        schema:
          type: string
          format: date-time
        description: Limit response to resources created before a given ISO8601 compliant date.
      - name: brand
        in: query
        schema:
          type: string
        description: Limit result set to products assigned a set of brand IDs or slugs, separated by commas.
      - name: brand_operator
        in: query
        schema:
          type: string
          enum:
          - in
          - not_in
          - and
          default: in
        description: Operator to compare product brand terms.
      - name: calculate_attribute_counts
        in: query
        schema:
          type: array
          default: []
          items:
            type: object
            properties:
              taxonomy:
                description: Taxonomy name.
                type: string
                context:
                - view
                - edit
                readonly: true
              query_type:
                description: "Filter condition\t being performed which may affect counts. Valid values include \"and\" and \"or\"."
                type: string
                enum:
                - and
                - or
                context:
                - view
                - edit
                readonly: true
        description: If requested, calculates attribute term counts for products in the collection.
      - name: calculate_price_range
        in: query
        schema:
          type: boolean
          default: false
        description: If true, calculates the minimum and maximum product prices for the collection.
      - name: calculate_rating_counts
        in: query
        schema:
          type: boolean
          default: false
        description: If true, calculates rating counts for products in the collection.
      - name: calculate_stock_status_counts
        in: query
        schema:
          type: boolean
          default: false
        description: If true, calculates stock counts for products in the collection.
      - name: calculate_taxonomy_counts
        in: query
        schema:
          type: array
          default: []
          items:
            type: string
            description: Taxonomy name.
        description: If requested, calculates taxonomy term counts for products in the collection.
      - name: catalog_visibility
        in: query
        schema:
          type: string
          enum:
          - any
          - visible
          - catalog
          - search
          - hidden
        description: Determines if hidden or visible catalog products are shown.
      - name: category
        in: query
        schema:
          type: string
        description: Limit result set to products assigned a set of category IDs or slugs, separated by commas.
      - name: category_operator
        in: query
        schema:
          type: string
          enum:
          - in
          - not_in
          - and
          default: in
        description: Operator to compare product category terms.
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: date_column
        in: query
        schema:
          type: string
          enum:
          - date
          - date_gmt
          - modified
          - modified_gmt
          default: date
        description: When limiting response using after/before, which date column to compare against.
      - name: exclude
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: featured
        in: query
        schema:
          type: boolean
        description: Limit result set to featured products.
      - name: include
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific ids.
      - name: max_price
        in: query
        schema:
          type: string
        description: Limit result set to products based on a maximum price, provided using the smallest unit of the currency.
      - name: min_price
        in: query
        schema:
          type: string
        description: Limit result set to products based on a minimum price, provided using the smallest unit of the currency.
      - name: offset
        in: query
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: on_sale
        in: query
        schema:
          type: boolean
        description: Limit result set to products on sale.
      - name: order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        schema:
          type: string
          enum:
          - date
          - modified
          - id
          - include
          - title
          - slug
          - price
          - popularity
          - rating
          - menu_order
          - comment_count
          default: date
        description: Sort collection by object attribute.
      - name: page
        in: query
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: parent
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to those of particular parent IDs.
      - name: parent_exclude
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to all items except those of a particular parent ID.
      - name: per_page
        in: query
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: rating
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
            enum:
            - 1
            - 2
            - 3
            - 4
            - 5
        description: Limit result set to products with a certain average rating.
      - name: related
        in: query
        schema:
          type: integer
        description: Limit result set to products related to a specific product ID.
      - name: search
        in: query
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: sku
        in: query
        schema:
          type: string
        description: Limit result set to products with specific SKU(s). Use commas to separate.
      - name: slug
        in: query
        schema:
          type: string
        description: Limit result set to products with specific slug(s). Use commas to separate.
      - name: stock_status
        in: query
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - instock
            - outofstock
            - onbackorder
            sanitize_callback: sanitize_text_field
            validate_callback: rest_validate_request_arg
        description: Limit result set to products with specified stock status.
      - name: tag
        in: query
        schema:
          type: string
        description: Limit result set to products assigned a set of tag IDs or slugs, separated by commas.
      - name: tag_operator
        in: query
        schema:
          type: string
          enum:
          - in
          - not_in
          - and
          default: in
        description: Operator to compare product tags.
      - name: type
        in: query
        schema:
          type: string
          enum:
          - simple
          - grouped
          - external
          - variable
          - variation
        description: Limit result set to products assigned a specific type.
components:
  schemas:
    StoreProductCategory:
      type: object
      properties:
        id:
          description: Unique identifier for the resource.
          type: integer
        name:
          description: Term name.
          type: string
        slug:
          description: String based identifier for the term.
          type: string
        description:
          description: Term description.
          type: string
        parent:
          description: Parent term ID, if applicable.
          type: integer
        count:
          description: Number of objects (posts of any type) assigned to the term.
          type: integer
        image:
          description: Category image.
          type: object
          properties:
            id:
              description: Image ID.
              type: integer
            src:
              description: Full size image URL.
              type: string
              format: uri
            thumbnail:
              description: Thumbnail URL.
              type: string
              format: uri
            srcset:
              description: Full size image srcset for responsive images.
              type: string
            sizes:
              description: Full size image sizes for responsive images.
              type: string
            thumbnail_srcset:
              description: Thumbnail srcset for responsive images.
              type: string
            thumbnail_sizes:
              description: Thumbnail sizes for responsive images.
              type: string
            name:
              description: Image name.
              type: string
            alt:
              description: Image alternative text.
              type: string
        review_count:
          description: Number of reviews for products in this category.
          type: integer
        permalink:
          description: Category URL.
          type: string
          format: uri
      title: product-category
    StoreCollectionData:
      type: object
      properties:
        price_range:
          description: Min and max prices found in collection of products, provided using the smallest unit of the currency.
          type:
          - object
          - 'null'
          properties:
            currency_code:
              description: Currency code (in ISO format) for returned prices.
              type: string
            currency_symbol:
              description: Currency symbol for the currency which can be used to format returned prices.
              type: string
            currency_minor_unit:
              description: Currency minor unit (number of digits after the decimal separator) for returned prices.
              type: integer
            currency_decimal_separator:
              description: Decimal separator for the currency which can be used to format returned prices.
              type: string
            currency_thousand_separator:
              description: Thousand separator for the currency which can be used to format returned prices.
              type: string
            currency_prefix:
              description: Price prefix for the currency which can be used to format returned prices.
              type: string
            currency_suffix:
              description: Price prefix for the currency which can be used to format returned prices.
              type: string
            min_price:
              description: Min price found in collection of products.
              type: string
            max_price:
              description: Max price found in collection of products.
              type: string
        attribute_counts:
          description: Returns number of products within attribute terms.
          type:
          - array
          - 'null'
          items:
            type: object
            properties:
              term:
                description: Term ID
                type: integer
              count:
                description: Number of products.
                type: integer
        rating_counts:
          description: Returns number of products with each average rating.
          type:
          - array
          - 'null'
          items:
            type: object
            properties:
              rating:
                description: Average rating
                type: integer
              count:
                description: Number of products.
                type: integer
        stock_status_counts:
          description: Returns number of products with each stock status.
          type:
          - array
          - 'null'
          items:
            type: object
            properties:
              status:
                description: Status
                type: string
              count:
                description: Number of products.
                type: integer
        taxonomy_counts:
          description: Returns number of products within taxonomy terms.
          type:
          - array
          - 'null'
          items:
            type: object
            properties:
              term:
                description: Term ID
                type: integer
              count:
                description: Number of products.
                type: integer
      title: product-collection-data
    StoreProduct:
      type: object
      properties:
        id:
          description: Unique identifier for the resource.
          type: integer
        name:
          description: Product name.
          type: string
        slug:
          description: Product slug.
          type: string
        parent:
          description: ID of the parent product, if applicable.
          type: integer
        type:
          description: Product type.
          type: string
        variation:
          description: Product variation attributes, if applicable.
          type: string
        permalink:
          description: Product URL.
          type: string
          format: uri
        short_description:
          description: Product short description in HTML format.
          type: string
        description:
          description: Product full description in HTML format.
          type: string
        on_sale:
          description: Is the product on sale?
          type: boolean
        sku:
          description: Unique identifier.
          type: string
        prices:
          description: Price data provided using the smallest unit of the currency.
          type: object
          properties:
            currency_code:
              description: Currency code (in ISO format) for returned prices.
              type: string
            currency_symbol:
              description: Currency symbol for the currency which can be used to format returned prices.
              type: string
            currency_minor_unit:
              description: Currency minor unit (number of digits after the decimal separator) for returned prices.
              type: integer
            currency_decimal_separator:
              description: Decimal separator for the currency which can be used to format returned prices.
              type: string
            currency_thousand_separator:
              description: Thousand separator for the currency which can be used to format returned prices.
              type: string
            currency_prefix:
              description: Price prefix for the currency which can be used to format returned prices.
              type: string
            currency_suffix:
              description: Price prefix for the currency which can be used to format returned prices.
              type: string
            price:
              description: Current product price.
              type: string
            regular_price:
              description: Regular product price.
              type: string
            sale_price:
              description: Sale product price, if applicable.
              type: string
            price_range:
              description: Price range, if applicable.
              type:
              - object
              - 'null'
              properties:
                min_amount:
                  description: Price amount.
                  type: string
                max_amount:
                  description: Price amount.
                  type: string
        price_html:
          description: Price string formatted as HTML.
          type: string
        average_rating:
          description: Reviews average rating.
          type: string
        review_count:
          description: Amount of reviews that the product has.
          type: integer
        images:
          description: List of images.
          type: array
          items:
            type: object
            properties:
              id:
                description: Image ID.
                type: integer
              src:
                description: Full size image URL.
                type: string
                format: uri
              thumbnail:
                description: Thumbnail URL.
                type: string
                format: uri
              srcset:
                description: Full size image srcset for responsive images.
                type: string
              sizes:
                description: Full size image sizes for responsive images.
                type: string
              thumbnail_srcset:
                description: Thumbnail srcset for responsive images.
                type: string
              thumbnail_sizes:
                description: Thumbnail sizes for responsive images.
                type: string
              name:
                description: Image name.
                type: string
              alt:
                description: Image alternative text.
                type: string
        categories:
          description: List of categories, if applicable.
          type: array
          items:
            type: object
            properties:
              id:
                description: Category ID
                type: number
              name:
                description: Category name
                type: string
              slug:
                description: Category slug
                type: string
              link:
                description: Category link
                type: string
        tags:
          description: List of tags, if applicable.
          type: array
          items:
            type: object
            properties:
              id:
                description: Tag ID
                type: number
              name:
                description: Tag name
                type: string
              slug:
                description: Tag slug
                type: string
              link:
                description: Tag link.
                type: string
        brands:
          description: List of brands, if applicable.
          type: array
          items:
            type: object
            properties:
              id:
                description: Brand ID
                type: number
              name:
                description: Brand name
                type: string
              slug:
                description: Brand slug
                type: string
              link:
                description: Brand link
                type: string
        attributes:
          description: List of attributes (taxonomy terms) assigned to the product. For variable products, these are mapped to variations (see the `variations` field).
          type: array
          items:
            type: object
            properties:
              id:
                description: The attribute ID, or 0 if the attribute is not taxonomy based.
                type: integer
              name:
                description: The attribute name.
                type: string
              taxonomy:
                description: The attribute taxonomy, or null if the attribute is not taxonomy based.
                type: string
              has_variations:
                description: True if this attribute is used by product variations.
                type: boolean
              terms:
                description: List of assigned attribute terms.
                type: array
                items:
                  type: object
                  properties:
                    id:
                      description: The term ID, or 0 if the attribute is not a global attribute.
                      type: integer
                    name:
                      description: The term name.
                      type: string
                    slug:
                      description: The term slug.
                      type: string
                    default:
                      description: If this is a default attribute
                      type: boolean
        variations:
          description: List of variation IDs, if applicable.
          type: array
          items:
            type: object
            properties:
              id:
                description: The attribute ID, or 0 if the attribute is not taxonomy based.
                type: integer
              attributes:
                description: List of variation attributes.
                type: array
                items:
                  type: object
                  properties:
                    name:
                      description: The attribute name.
                      type: string
                    value:
                      description: The assigned attribute.
                      type: string
        grouped_products:
          description: List of grouped product IDs, if applicable.
          type: array
          items:
            description: List of grouped product ids.
            type: integer
        has_options:
          description: Does the product have additional options before it can be added to the cart?
          type: boolean
        is_purchasable:
          description: Is the product purchasable?
          type: boolean
        is_in_stock:
          description: Is the product in stock?
          type: boolean
        is_on_backorder:
          description: Is the product stock backordered? This will also return false if backorder notifications are turned off.
          type: boolean
        stock_availability:
          description: Information about the product's availability.
          type: object
          properties:
            text:
              description: Stock availability text.
              type: string
            class:
              description: Stock availability class.
              type: string
        low_stock_remaining:
          description: Quantity left in stock if stock is low, or null if not applicable.
          type:
          - number
          - 'null'
        sold_individually:
          description: If true, only one item of this product is allowed for purchase in a single order.
          type: boolean
        weight:
          description: Product weight (kg).
          type: string
        dimensions:
          description: Product dimensions.
          type: object
          properties:
            length:
              description: Product length (cm).
              type: string
            width:
              description: Product width (cm).
              type: string
            height:
              description: Product height (cm).
              type: string
        formatted_weight:
          description: Product weight formatted for display (e.g. "2.5 kg").
          type: string
        formatted_dimensions:
          description: Product dimensions formatted for display (e.g. "10 × 5 × 3 cm").
          type: string
        add_to_cart:
          description: Add to cart button parameters.
          type: object
          properties:
            text:
              description: Button text.
              type: string
            description:
              description: Button description.
              type: string
            url:
              description: Add to cart URL.
              type: string
            minimum:
              description: The minimum quantity that can be added to the cart.
              type: number
            maximum:
              description: The maximum quantity that can be added to the cart.
              type: number
            multiple_of:
              description: The amount that quantities increment by. Quantity must be an multiple of this value.
              type: number
              default: 1
            single_text:
              description: Button text in the single product page.
              type: string
        is_password_protected:
          description: Whether the product requires a password to access its content.
          type: boolean
        extensions:
          type: object
          properties: []
      title: product
    Error:
      title: WP REST error
      type: object
      description: The WordPress REST error envelope returned on every non-2xx response, observed live 2026-09-10.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_forbidden, rest_no_route, rest_invalid_param.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code repeated in the body.
            params:
              type: object
              description: Per-parameter validation messages, on rest_invalid_param.
