openapi: 3.2.0
info:
  title: AeroFarms FAQ API
  version: v2
  description: Public, unauthenticated read access to the AeroFarms FAQ knowledge base at www.aerofarms.com/faqs/ — what a
    microgreen is, how microgreens differ from sprouts, growing practices, organic and non-GMO status, and storage. Verified
    live at 18 answers across 8 FAQ categories on 2026-09-10.
  contact:
    name: AeroFarms
    url: https://www.aerofarms.com/contact/
    email: info@aerofarms.com
  x-derived-from: https://www.aerofarms.com/wp-json/ route index + per-route HTTP OPTIONS schema documents
  x-derived-on: '2026-09-10'
  x-api-evangelist-note: Third-party profile. AeroFarms publishes no developer program; this documents the anonymously readable
    REST surface behind www.aerofarms.com. Every path, parameter and schema here was read from the server's own published
    route index and OPTIONS documents on 2026-09-10 — nothing is invented.
servers:
- url: https://www.aerofarms.com/wp-json
  description: AeroFarms WordPress REST API
tags:
- name: FAQs
  description: AeroFarms customer FAQ entries and their categories.
paths:
  /wp/v2/ufaq:
    get:
      operationId: listFaqs
      summary: List FAQ entries
      description: Retrieve published AeroFarms FAQ questions and answers. 18 entries at capture.
      tags:
      - FAQs
      responses:
        '200':
          description: List FAQ entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Faq'
          headers:
            X-WP-Total: &id001
              description: Total number of records matching the query.
              schema:
                type: integer
            X-WP-TotalPages: &id002
              description: Total number of pages available at the current per_page.
              schema:
                type: integer
            Link: &id003
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
        '400':
          description: Invalid parameter(s) — rest_invalid_param.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such route or resource — rest_no_route / rest_*_invalid_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: after
        in: query
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: author
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to posts assigned to specific authors.
      - name: author_exclude
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes posts assigned to specific authors.
      - name: before
        in: query
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: modified_after
        in: query
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: modified_before
        in: query
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: offset
        in: query
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - rand
          - menu_order
          default: date
        description: Sort collection by post attribute.
      - name: page
        in: query
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: search_columns
        in: query
        schema:
          type: array
          default: []
          items:
            enum:
            - post_title
            - post_content
            - post_excerpt
            type: string
        description: Array of column names to be searched.
      - name: search_semantics
        in: query
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: slug
        in: query
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        schema:
          type: array
          default: publish
          items:
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - wc-pending
            - wc-processing
            - wc-on-hold
            - wc-completed
            - wc-cancelled
            - wc-refunded
            - wc-failed
            - wc-checkout-draft
            - hidden
            - any
            type: string
        description: Limit result set to posts assigned one or more statuses.
      - name: tax_relation
        in: query
        schema:
          type: string
          enum:
          - AND
          - OR
        description: Limit result set based on relationship between multiple taxonomies.
      - name: ufaq-category
        in: query
        schema:
          type:
          - object
          - array
          oneOf:
          - title: Term ID List
            description: Match terms with the listed IDs.
            type: array
            items:
              type: integer
          - title: Term ID Taxonomy Query
            description: Perform an advanced term query.
            type: object
            properties:
              terms:
                description: Term IDs.
                type: array
                items:
                  type: integer
                default: []
              include_children:
                description: Whether to include child terms in the terms limiting the result set.
                type: boolean
                default: false
              operator:
                description: Whether items must be assigned all or any of the specified terms.
                type: string
                enum:
                - AND
                - OR
                default: OR
            additionalProperties: false
        description: Limit result set to items with specific terms assigned in the ufaq-category taxonomy.
      - name: ufaq-category_exclude
        in: query
        schema:
          type:
          - object
          - array
          oneOf:
          - title: Term ID List
            description: Match terms with the listed IDs.
            type: array
            items:
              type: integer
          - title: Term ID Taxonomy Query
            description: Perform an advanced term query.
            type: object
            properties:
              terms:
                description: Term IDs.
                type: array
                items:
                  type: integer
                default: []
              include_children:
                description: Whether to include child terms in the terms limiting the result set.
                type: boolean
                default: false
            additionalProperties: false
        description: Limit result set to items except those with specific terms assigned in the ufaq-category taxonomy.
      - name: ufaq-tag
        in: query
        schema:
          type:
          - object
          - array
          oneOf:
          - title: Term ID List
            description: Match terms with the listed IDs.
            type: array
            items:
              type: integer
          - title: Term ID Taxonomy Query
            description: Perform an advanced term query.
            type: object
            properties:
              terms:
                description: Term IDs.
                type: array
                items:
                  type: integer
                default: []
              operator:
                description: Whether items must be assigned all or any of the specified terms.
                type: string
                enum:
                - AND
                - OR
                default: OR
            additionalProperties: false
        description: Limit result set to items with specific terms assigned in the ufaq-tag taxonomy.
      - name: ufaq-tag_exclude
        in: query
        schema:
          type:
          - object
          - array
          oneOf:
          - title: Term ID List
            description: Match terms with the listed IDs.
            type: array
            items:
              type: integer
          - title: Term ID Taxonomy Query
            description: Perform an advanced term query.
            type: object
            properties:
              terms:
                description: Term IDs.
                type: array
                items:
                  type: integer
                default: []
            additionalProperties: false
        description: Limit result set to items except those with specific terms assigned in the ufaq-tag taxonomy.
  /wp/v2/ufaq/{id}:
    get:
      operationId: getFaq
      summary: Retrieve an FAQ entry
      description: Retrieve a single FAQ entry by its numeric identifier.
      tags:
      - FAQs
      responses:
        '200':
          description: Retrieve an FAQ entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Faq'
        '400':
          description: Invalid parameter(s) — rest_invalid_param.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such route or resource — rest_no_route / rest_*_invalid_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the resource.
        schema:
          type: integer
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: excerpt_length
        in: query
        schema:
          type: integer
        description: Override the default excerpt length.
  /wp/v2/ufaq-category:
    get:
      operationId: listFaqCategories
      summary: List FAQ categories
      description: Retrieve the FAQ category taxonomy terms. 8 terms at capture.
      tags:
      - FAQs
      responses:
        '200':
          description: List FAQ categories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FaqCategory'
          headers:
            X-WP-Total: *id001
            X-WP-TotalPages: *id002
            Link: *id003
        '400':
          description: Invalid parameter(s) — rest_invalid_param.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such route or resource — rest_no_route / rest_*_invalid_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: hide_empty
        in: query
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: include
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: Sort collection by term attribute.
      - name: page
        in: query
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: parent
        in: query
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific parent.
      - name: per_page
        in: query
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: post
        in: query
        schema:
          type: integer
          default: null
        description: Limit result set to terms assigned to a specific post.
      - name: search
        in: query
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: slug
        in: query
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
components:
  schemas:
    Error:
      title: WP REST error
      type: object
      description: The WordPress REST error envelope returned on every non-2xx response, observed live 2026-09-10.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_forbidden, rest_no_route, rest_invalid_param.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code repeated in the body.
            params:
              type: object
              description: Per-parameter validation messages, on rest_invalid_param.
    Faq:
      type: object
      properties:
        date:
          description: The date the post was published, in the site's timezone.
          type:
          - string
          - 'null'
          format: date-time
        date_gmt:
          description: The date the post was published, as GMT.
          type:
          - string
          - 'null'
          format: date-time
        guid:
          description: The globally unique identifier for the post.
          type: object
          properties:
            raw:
              description: GUID for the post, as it exists in the database.
              type: string
            rendered:
              description: GUID for the post, transformed for display.
              type: string
        id:
          description: Unique identifier for the post.
          type: integer
        link:
          description: URL to the post.
          type: string
          format: uri
        modified:
          description: The date the post was last modified, in the site's timezone.
          type: string
          format: date-time
        modified_gmt:
          description: The date the post was last modified, as GMT.
          type: string
          format: date-time
        slug:
          description: An alphanumeric identifier for the post unique to its type.
          type: string
        status:
          description: A named status for the post.
          type: string
          enum:
          - publish
          - future
          - draft
          - pending
          - private
          - acf-disabled
          - wc-pending
          - wc-processing
          - wc-on-hold
          - wc-completed
          - wc-cancelled
          - wc-refunded
          - wc-failed
          - wc-checkout-draft
          - hidden
        type:
          description: Type of post.
          type: string
        password:
          description: A password to protect access to the content and excerpt.
          type: string
        permalink_template:
          description: Permalink template for the post.
          type: string
        generated_slug:
          description: Slug automatically generated from the post title.
          type: string
        class_list:
          description: An array of the class names for the post container element.
          type: array
          items:
            type: string
        title:
          description: The title for the post.
          type: object
          properties:
            raw:
              description: Title for the post, as it exists in the database.
              type: string
            rendered:
              description: HTML title for the post, transformed for display.
              type: string
        content:
          description: The content for the post.
          type: object
          properties:
            raw:
              description: Content for the post, as it exists in the database.
              type: string
            rendered:
              description: HTML content for the post, transformed for display.
              type: string
            block_version:
              description: Version of the content block format used by the post.
              type: integer
            protected:
              description: Whether the content is protected with a password.
              type: boolean
        author:
          description: The ID for the author of the post.
          type: integer
        excerpt:
          description: The excerpt for the post.
          type: object
          properties:
            raw:
              description: Excerpt for the post, as it exists in the database.
              type: string
            rendered:
              description: HTML excerpt for the post, transformed for display.
              type: string
            protected:
              description: Whether the excerpt is protected with a password.
              type: boolean
        featured_media:
          description: The ID of the featured media for the post.
          type: integer
        comment_status:
          description: Whether or not comments are open on the post.
          type: string
          enum:
          - open
          - closed
        ping_status:
          description: Whether or not the post can be pinged.
          type: string
          enum:
          - open
          - closed
        meta:
          description: Meta fields.
          type: object
          properties:
            _acf_changed:
              type: boolean
              title: ''
              description: ''
              default: false
            _uag_custom_page_level_css:
              type: string
              title: ''
              description: ''
              default: ''
            site-sidebar-layout:
              type: string
              title: ''
              description: ''
              default: default
            site-content-layout:
              type: string
              title: ''
              description: ''
              default: ''
            ast-site-content-layout:
              type: string
              title: ''
              description: ''
              default: default
            site-content-style:
              type: string
              title: ''
              description: ''
              default: default
            site-sidebar-style:
              type: string
              title: ''
              description: ''
              default: default
            ast-global-header-display:
              type: string
              title: ''
              description: ''
              default: ''
            ast-banner-title-visibility:
              type: string
              title: ''
              description: ''
              default: ''
            ast-main-header-display:
              type: string
              title: ''
              description: ''
              default: ''
            ast-hfb-above-header-display:
              type: string
              title: ''
              description: ''
              default: ''
            ast-hfb-below-header-display:
              type: string
              title: ''
              description: ''
              default: ''
            ast-hfb-mobile-header-display:
              type: string
              title: ''
              description: ''
              default: ''
            site-post-title:
              type: string
              title: ''
              description: ''
              default: ''
            ast-breadcrumbs-content:
              type: string
              title: ''
              description: ''
              default: ''
            ast-featured-img:
              type: string
              title: ''
              description: ''
              default: ''
            footer-sml-layout:
              type: string
              title: ''
              description: ''
              default: ''
            ast-disable-related-posts:
              type: string
              title: ''
              description: ''
              default: ''
            theme-transparent-header-meta:
              type: string
              title: ''
              description: ''
              default: ''
            adv-header-id-meta:
              type: string
              title: ''
              description: ''
              default: ''
            stick-header-meta:
              type: string
              title: ''
              description: ''
              default: ''
            header-above-stick-meta:
              type: string
              title: ''
              description: ''
              default: ''
            header-main-stick-meta:
              type: string
              title: ''
              description: ''
              default: ''
            header-below-stick-meta:
              type: string
              title: ''
              description: ''
              default: ''
            astra-migrate-meta-layouts:
              type: string
              title: ''
              description: ''
              default: default
            ast-page-background-enabled:
              type: string
              title: ''
              description: ''
              default: default
            ast-page-background-meta:
              type: object
              title: ''
              description: ''
              default:
                desktop:
                  background-color: ''
                  background-image: ''
                  background-repeat: repeat
                  background-position: center center
                  background-size: auto
                  background-attachment: scroll
                  background-type: ''
                  background-media: ''
                  overlay-type: ''
                  overlay-color: ''
                  overlay-opacity: ''
                  overlay-gradient: ''
                tablet:
                  background-color: ''
                  background-image: ''
                  background-repeat: repeat
                  background-position: center center
                  background-size: auto
                  background-attachment: scroll
                  background-type: ''
                  background-media: ''
                  overlay-type: ''
                  overlay-color: ''
                  overlay-opacity: ''
                  overlay-gradient: ''
                mobile:
                  background-color: ''
                  background-image: ''
                  background-repeat: repeat
                  background-position: center center
                  background-size: auto
                  background-attachment: scroll
                  background-type: ''
                  background-media: ''
                  overlay-type: ''
                  overlay-color: ''
                  overlay-opacity: ''
                  overlay-gradient: ''
              properties:
                desktop:
                  type: object
                  properties:
                    background-color:
                      type: string
                    background-image:
                      type: string
                    background-repeat:
                      type: string
                    background-position:
                      type: string
                    background-size:
                      type: string
                    background-attachment:
                      type: string
                    background-type:
                      type: string
                    background-media:
                      type: string
                    overlay-type:
                      type: string
                    overlay-color:
                      type: string
                    overlay-opacity:
                      type: string
                    overlay-gradient:
                      type: string
                  additionalProperties: false
                tablet:
                  type: object
                  properties:
                    background-color:
                      type: string
                    background-image:
                      type: string
                    background-repeat:
                      type: string
                    background-position:
                      type: string
                    background-size:
                      type: string
                    background-attachment:
                      type: string
                    background-type:
                      type: string
                    background-media:
                      type: string
                    overlay-type:
                      type: string
                    overlay-color:
                      type: string
                    overlay-opacity:
                      type: string
                    overlay-gradient:
                      type: string
                  additionalProperties: false
                mobile:
                  type: object
                  properties:
                    background-color:
                      type: string
                    background-image:
                      type: string
                    background-repeat:
                      type: string
                    background-position:
                      type: string
                    background-size:
                      type: string
                    background-attachment:
                      type: string
                    background-type:
                      type: string
                    background-media:
                      type: string
                    overlay-type:
                      type: string
                    overlay-color:
                      type: string
                    overlay-opacity:
                      type: string
                    overlay-gradient:
                      type: string
                  additionalProperties: false
              additionalProperties: false
            ast-content-background-meta:
              type: object
              title: ''
              description: ''
              default:
                desktop:
                  background-color: var(--ast-global-color-5)
                  background-image: ''
                  background-repeat: repeat
                  background-position: center center
                  background-size: auto
                  background-attachment: scroll
                  background-type: ''
                  background-media: ''
                  overlay-type: ''
                  overlay-color: ''
                  overlay-opacity: ''
                  overlay-gradient: ''
                tablet:
                  background-color: var(--ast-global-color-5)
                  background-image: ''
                  background-repeat: repeat
                  background-position: center center
                  background-size: auto
                  background-attachment: scroll
                  background-type: ''
                  background-media: ''
                  overlay-type: ''
                  overlay-color: ''
                  overlay-opacity: ''
                  overlay-gradient: ''
                mobile:
                  background-color: var(--ast-global-color-5)
                  background-image: ''
                  background-repeat: repeat
                  background-position: center center
                  background-size: auto
                  background-attachment: scroll
                  background-type: ''
                  background-media: ''
                  overlay-type: ''
                  overlay-color: ''
                  overlay-opacity: ''
                  overlay-gradient: ''
              properties:
                desktop:
                  type: object
                  properties:
                    background-color:
                      type: string
                    background-image:
                      type: string
                    background-repeat:
                      type: string
                    background-position:
                      type: string
                    background-size:
                      type: string
                    background-attachment:
                      type: string
                    background-type:
                      type: string
                    background-media:
                      type: string
                    overlay-type:
                      type: string
                    overlay-color:
                      type: string
                    overlay-opacity:
                      type: string
                    overlay-gradient:
                      type: string
                  additionalProperties: false
                tablet:
                  type: object
                  properties:
                    background-color:
                      type: string
                    background-image:
                      type: string
                    background-repeat:
                      type: string
                    background-position:
                      type: string
                    background-size:
                      type: string
                    background-attachment:
                      type: string
                    background-type:
                      type: string
                    background-media:
                      type: string
                    overlay-type:
                      type: string
                    overlay-color:
                      type: string
                    overlay-opacity:
                      type: string
                    overlay-gradient:
                      type: string
                  additionalProperties: false
                mobile:
                  type: object
                  properties:
                    background-color:
                      type: string
                    background-image:
                      type: string
                    background-repeat:
                      type: string
                    background-position:
                      type: string
                    background-size:
                      type: string
                    background-attachment:
                      type: string
                    background-type:
                      type: string
                    background-media:
                      type: string
                    overlay-type:
                      type: string
                    overlay-color:
                      type: string
                    overlay-opacity:
                      type: string
                    overlay-gradient:
                      type: string
                  additionalProperties: false
              additionalProperties: false
        template:
          description: The theme file to use to display the post.
          type: string
        ufaq-category:
          description: The terms assigned to the post in the ufaq-category taxonomy.
          type: array
          items:
            type: integer
        ufaq-tag:
          description: The terms assigned to the post in the ufaq-tag taxonomy.
          type: array
          items:
            type: integer
        acf:
          description: ACF field data
          type: object
          properties: []
      title: ufaq
    FaqCategory:
      type: object
      properties:
        id:
          description: Unique identifier for the term.
          type: integer
        count:
          description: Number of published posts for the term.
          type: integer
        description:
          description: HTML description of the term.
          type: string
        link:
          description: URL of the term.
          type: string
          format: uri
        name:
          description: HTML title for the term.
          type: string
        slug:
          description: An alphanumeric identifier for the term unique to its type.
          type: string
        taxonomy:
          description: Type attribution for the term.
          type: string
          enum:
          - ufaq-category
        parent:
          description: The parent term ID.
          type: integer
        meta:
          description: Meta fields.
          type: object
          properties: []
        acf:
          description: ACF field data
          type: object
          properties: []
      title: ufaq-category
