openapi: 3.2.0
info:
  title: AeroFarms Pages API
  version: v2
  description: Public, unauthenticated read access to the marketing and policy pages of www.aerofarms.com — About Us, How
    We Grow, Our Microgreens, FlavorSpectrum, Store Locator, Commercial Partnerships, Careers, Contact, Terms and Conditions
    and Privacy Policy. Verified live at 56 published pages on 2026-09-10.
  contact:
    name: AeroFarms
    url: https://www.aerofarms.com/contact/
    email: info@aerofarms.com
  x-derived-from: https://www.aerofarms.com/wp-json/ route index + per-route HTTP OPTIONS schema documents
  x-derived-on: '2026-09-10'
  x-api-evangelist-note: Third-party profile. AeroFarms publishes no developer program; this documents the anonymously readable
    REST surface behind www.aerofarms.com. Every path, parameter and schema here was read from the server's own published
    route index and OPTIONS documents on 2026-09-10 — nothing is invented.
servers:
- url: https://www.aerofarms.com/wp-json
  description: AeroFarms WordPress REST API
tags:
- name: Pages
  description: Static marketing and policy pages of the AeroFarms website.
paths:
  /wp/v2/pages:
    get:
      operationId: listPages
      summary: List pages
      description: Retrieve a paginated collection of published AeroFarms website pages. 56 pages at capture.
      tags:
      - Pages
      responses:
        '200':
          description: List pages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Page'
          headers:
            X-WP-Total:
              description: Total number of records matching the query.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available at the current per_page.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
        '400':
          description: Invalid parameter(s) — rest_invalid_param.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such route or resource — rest_no_route / rest_*_invalid_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: after
        in: query
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: author
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to posts assigned to specific authors.
      - name: author_exclude
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes posts assigned to specific authors.
      - name: before
        in: query
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: menu_order
        in: query
        schema:
          type: integer
        description: Limit result set to posts with a specific menu_order value.
      - name: modified_after
        in: query
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: modified_before
        in: query
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: offset
        in: query
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - menu_order
          - rand
          - menu_order
          default: date
        description: Sort collection by post attribute.
      - name: page
        in: query
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: parent
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to items with particular parent IDs.
      - name: parent_exclude
        in: query
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to all items except those of a particular parent ID.
      - name: per_page
        in: query
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: search_columns
        in: query
        schema:
          type: array
          default: []
          items:
            enum:
            - post_title
            - post_content
            - post_excerpt
            type: string
        description: Array of column names to be searched.
      - name: search_semantics
        in: query
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: slug
        in: query
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        schema:
          type: array
          default: publish
          items:
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - wc-pending
            - wc-processing
            - wc-on-hold
            - wc-completed
            - wc-cancelled
            - wc-refunded
            - wc-failed
            - wc-checkout-draft
            - hidden
            - any
            type: string
        description: Limit result set to posts assigned one or more statuses.
  /wp/v2/pages/{id}:
    get:
      operationId: getPage
      summary: Retrieve a page
      description: Retrieve a single AeroFarms page by its numeric identifier.
      tags:
      - Pages
      responses:
        '200':
          description: Retrieve a page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '400':
          description: Invalid parameter(s) — rest_invalid_param.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such route or resource — rest_no_route / rest_*_invalid_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the resource.
        schema:
          type: integer
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: excerpt_length
        in: query
        schema:
          type: integer
        description: Override the default excerpt length.
components:
  schemas:
    Error:
      title: WP REST error
      type: object
      description: The WordPress REST error envelope returned on every non-2xx response, observed live 2026-09-10.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_forbidden, rest_no_route, rest_invalid_param.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code repeated in the body.
            params:
              type: object
              description: Per-parameter validation messages, on rest_invalid_param.
    Page:
      type: object
      properties:
        date:
          description: The date the post was published, in the site's timezone.
          type:
          - string
          - 'null'
          format: date-time
        date_gmt:
          description: The date the post was published, as GMT.
          type:
          - string
          - 'null'
          format: date-time
        guid:
          description: The globally unique identifier for the post.
          type: object
          properties:
            raw:
              description: GUID for the post, as it exists in the database.
              type: string
            rendered:
              description: GUID for the post, transformed for display.
              type: string
        id:
          description: Unique identifier for the post.
          type: integer
        link:
          description: URL to the post.
          type: string
          format: uri
        modified:
          description: The date the post was last modified, in the site's timezone.
          type: string
          format: date-time
        modified_gmt:
          description: The date the post was last modified, as GMT.
          type: string
          format: date-time
        slug:
          description: An alphanumeric identifier for the post unique to its type.
          type: string
        status:
          description: A named status for the post.
          type: string
          enum:
          - publish
          - future
          - draft
          - pending
          - private
          - acf-disabled
          - wc-pending
          - wc-processing
          - wc-on-hold
          - wc-completed
          - wc-cancelled
          - wc-refunded
          - wc-failed
          - wc-checkout-draft
          - hidden
        type:
          description: Type of post.
          type: string
        password:
          description: A password to protect access to the content and excerpt.
          type: string
        permalink_template:
          description: Permalink template for the post.
          type: string
        generated_slug:
          description: Slug automatically generated from the post title.
          type: string
        class_list:
          description: An array of the class names for the post container element.
          type: array
          items:
            type: string
        parent:
          description: The ID for the parent of the post.
          type: integer
        title:
          description: The title for the post.
          type: object
          properties:
            raw:
              description: Title for the post, as it exists in the database.
              type: string
            rendered:
              description: HTML title for the post, transformed for display.
              type: string
        content:
          description: The content for the post.
          type: object
          properties:
            raw:
              description: Content for the post, as it exists in the database.
              type: string
            rendered:
              description: HTML content for the post, transformed for display.
              type: string
            block_version:
              description: Version of the content block format used by the post.
              type: integer
            protected:
              description: Whether the content is protected with a password.
              type: boolean
        author:
          description: The ID for the author of the post.
          type: integer
        excerpt:
          description: The excerpt for the post.
          type: object
          properties:
            raw:
              description: Excerpt for the post, as it exists in the database.
              type: string
            rendered:
              description: HTML excerpt for the post, transformed for display.
              type: string
            protected:
              description: Whether the excerpt is protected with a password.
              type: boolean
        featured_media:
          description: The ID of the featured media for the post.
          type: integer
        comment_status:
          description: Whether or not comments are open on the post.
          type: string
          enum:
          - open
          - closed
        ping_status:
          description: Whether or not the post can be pinged.
          type: string
          enum:
          - open
          - closed
        menu_order:
          description: The order of the post in relation to other posts.
          type: integer
        meta:
          description: Meta fields.
          type: object
          properties:
            _acf_changed:
              type: boolean
              title: ''
              description: ''
              default: false
            _uag_custom_page_level_css:
              type: string
              title: ''
              description: ''
              default: ''
            site-sidebar-layout:
              type: string
              title: ''
              description: ''
              default: default
            site-content-layout:
              type: string
              title: ''
              description: ''
              default: ''
            ast-site-content-layout:
              type: string
              title: ''
              description: ''
              default: default
            site-content-style:
              type: string
              title: ''
              description: ''
              default: default
            site-sidebar-style:
              type: string
              title: ''
              description: ''
              default: default
            ast-global-header-display:
              type: string
              title: ''
              description: ''
              default: ''
            ast-banner-title-visibility:
              type: string
              title: ''
              description: ''
              default: ''
            ast-main-header-display:
              type: string
              title: ''
              description: ''
              default: ''
            ast-hfb-above-header-display:
              type: string
              title: ''
              description: ''
              default: ''
            ast-hfb-below-header-display:
              type: string
              title: ''
              description: ''
              default: ''
            ast-hfb-mobile-header-display:
              type: string
              title: ''
              description: ''
              default: ''
            site-post-title:
              type: string
              title: ''
              description: ''
              default: ''
            ast-breadcrumbs-content:
              type: string
              title: ''
              description: ''
              default: ''
            ast-featured-img:
              type: string
              title: ''
              description: ''
              default: ''
            footer-sml-layout:
              type: string
              title: ''
              description: ''
              default: ''
            ast-disable-related-posts:
              type: string
              title: ''
              description: ''
              default: ''
            theme-transparent-header-meta:
              type: string
              title: ''
              description: ''
              default: ''
            adv-header-id-meta:
              type: string
              title: ''
              description: ''
              default: ''
            stick-header-meta:
              type: string
              title: ''
              description: ''
              default: ''
            header-above-stick-meta:
              type: string
              title: ''
              description: ''
              default: ''
            header-main-stick-meta:
              type: string
              title: ''
              description: ''
              default: ''
            header-below-stick-meta:
              type: string
              title: ''
              description: ''
              default: ''
            astra-migrate-meta-layouts:
              type: string
              title: ''
              description: ''
              default: default
            ast-page-background-enabled:
              type: string
              title: ''
              description: ''
              default: default
            ast-page-background-meta:
              type: object
              title: ''
              description: ''
              default:
                desktop:
                  background-color: ''
                  background-image: ''
                  background-repeat: repeat
                  background-position: center center
                  background-size: auto
                  background-attachment: scroll
                  background-type: ''
                  background-media: ''
                  overlay-type: ''
                  overlay-color: ''
                  overlay-opacity: ''
                  overlay-gradient: ''
                tablet:
                  background-color: ''
                  background-image: ''
                  background-repeat: repeat
                  background-position: center center
                  background-size: auto
                  background-attachment: scroll
                  background-type: ''
                  background-media: ''
                  overlay-type: ''
                  overlay-color: ''
                  overlay-opacity: ''
                  overlay-gradient: ''
                mobile:
                  background-color: ''
                  background-image: ''
                  background-repeat: repeat
                  background-position: center center
                  background-size: auto
                  background-attachment: scroll
                  background-type: ''
                  background-media: ''
                  overlay-type: ''
                  overlay-color: ''
                  overlay-opacity: ''
                  overlay-gradient: ''
              properties:
                desktop:
                  type: object
                  properties:
                    background-color:
                      type: string
                    background-image:
                      type: string
                    background-repeat:
                      type: string
                    background-position:
                      type: string
                    background-size:
                      type: string
                    background-attachment:
                      type: string
                    background-type:
                      type: string
                    background-media:
                      type: string
                    overlay-type:
                      type: string
                    overlay-color:
                      type: string
                    overlay-opacity:
                      type: string
                    overlay-gradient:
                      type: string
                  additionalProperties: false
                tablet:
                  type: object
                  properties:
                    background-color:
                      type: string
                    background-image:
                      type: string
                    background-repeat:
                      type: string
                    background-position:
                      type: string
                    background-size:
                      type: string
                    background-attachment:
                      type: string
                    background-type:
                      type: string
                    background-media:
                      type: string
                    overlay-type:
                      type: string
                    overlay-color:
                      type: string
                    overlay-opacity:
                      type: string
                    overlay-gradient:
                      type: string
                  additionalProperties: false
                mobile:
                  type: object
                  properties:
                    background-color:
                      type: string
                    background-image:
                      type: string
                    background-repeat:
                      type: string
                    background-position:
                      type: string
                    background-size:
                      type: string
                    background-attachment:
                      type: string
                    background-type:
                      type: string
                    background-media:
                      type: string
                    overlay-type:
                      type: string
                    overlay-color:
                      type: string
                    overlay-opacity:
                      type: string
                    overlay-gradient:
                      type: string
                  additionalProperties: false
              additionalProperties: false
            ast-content-background-meta:
              type: object
              title: ''
              description: ''
              default:
                desktop:
                  background-color: var(--ast-global-color-5)
                  background-image: ''
                  background-repeat: repeat
                  background-position: center center
                  background-size: auto
                  background-attachment: scroll
                  background-type: ''
                  background-media: ''
                  overlay-type: ''
                  overlay-color: ''
                  overlay-opacity: ''
                  overlay-gradient: ''
                tablet:
                  background-color: var(--ast-global-color-5)
                  background-image: ''
                  background-repeat: repeat
                  background-position: center center
                  background-size: auto
                  background-attachment: scroll
                  background-type: ''
                  background-media: ''
                  overlay-type: ''
                  overlay-color: ''
                  overlay-opacity: ''
                  overlay-gradient: ''
                mobile:
                  background-color: var(--ast-global-color-5)
                  background-image: ''
                  background-repeat: repeat
                  background-position: center center
                  background-size: auto
                  background-attachment: scroll
                  background-type: ''
                  background-media: ''
                  overlay-type: ''
                  overlay-color: ''
                  overlay-opacity: ''
                  overlay-gradient: ''
              properties:
                desktop:
                  type: object
                  properties:
                    background-color:
                      type: string
                    background-image:
                      type: string
                    background-repeat:
                      type: string
                    background-position:
                      type: string
                    background-size:
                      type: string
                    background-attachment:
                      type: string
                    background-type:
                      type: string
                    background-media:
                      type: string
                    overlay-type:
                      type: string
                    overlay-color:
                      type: string
                    overlay-opacity:
                      type: string
                    overlay-gradient:
                      type: string
                  additionalProperties: false
                tablet:
                  type: object
                  properties:
                    background-color:
                      type: string
                    background-image:
                      type: string
                    background-repeat:
                      type: string
                    background-position:
                      type: string
                    background-size:
                      type: string
                    background-attachment:
                      type: string
                    background-type:
                      type: string
                    background-media:
                      type: string
                    overlay-type:
                      type: string
                    overlay-color:
                      type: string
                    overlay-opacity:
                      type: string
                    overlay-gradient:
                      type: string
                  additionalProperties: false
                mobile:
                  type: object
                  properties:
                    background-color:
                      type: string
                    background-image:
                      type: string
                    background-repeat:
                      type: string
                    background-position:
                      type: string
                    background-size:
                      type: string
                    background-attachment:
                      type: string
                    background-type:
                      type: string
                    background-media:
                      type: string
                    overlay-type:
                      type: string
                    overlay-color:
                      type: string
                    overlay-opacity:
                      type: string
                    overlay-gradient:
                      type: string
                  additionalProperties: false
              additionalProperties: false
            footnotes:
              type: string
              title: ''
              description: ''
              default: ''
        template:
          description: The theme file to use to display the post.
          type: string
        acf:
          description: ACF field data
          type: object
          properties: []
      title: page
